@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 300;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 400;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 700;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 800;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf")
      format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 900;
  font-style: normal;
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot");
  src: url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix")
      format("embedded-opentype"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2")
      format("woff2"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff")
      format("woff"),
    url("https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SeoulHangang";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangLight.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangLight.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SeoulHangang";
  font-weight: 500;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangMedium.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangMedium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangMedium.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangMedium.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangMedium.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SeoulHangang";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SeoulHangang";
  font-weight: 800;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangExtraBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangExtraBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangExtraBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangExtraBold.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Rebecca";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Rebecca/Rebecca.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/Rebecca/Rebecca.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Rebecca/Rebecca.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Rebecca/Rebecca.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/Rebecca/Rebecca.ttf")
      format("truetype");
  font-display: swap;
}
.NanumSquareNeo {
  font-family: "NanumSquareNeo";
}

.SeoulHangang {
  font-family: "SeoulHangang";
}

.Rebecca {
  font-family: "Rebecca";
}
@for $i from 1 through 9 {
  $weight: $i * 100;

  .NanumSquareNeo#{$i} {
    font-family: "NanumSquareNeo";
    font-weight: $weight;
  }

  .SeoulHangang#{$i} {
    font-family: "SeoulHangang";
    font-weight: $weight;
  }

  .Rebecca#{$i} {
    font-family: "Rebecca";
    font-weight: $weight;
  }
}
